
<section class="container-fulid">
	<div class="col-sm-4">
		<div class="well-white">
			<h5><i class="fa fa-cogs"></i>系统信息</h5>
			<p>
				系统版本：<span class="font-en">V 0.0.1</span> <br />
				开发者：Mr.Liu <br />
				BUG反馈：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=531271788&site=qq&menu=yes">531271788</a> <br />
				授权信息：完全开源 <br />
				版权所有：<a href="http://www.iwebsite.cc" target="_blank" class="font-en font-14">iwebsite</a>
			</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well-white">2</div>
	</div>
	<div class="col-sm-4">
		<div class="well-white">2</div>
	</div>
</section>
<p style="height:800px;"></p>


