<include file='Common:head' />
<section class="container-fulid">
	<div class="top text-center">
		<h2><span class="font-en">Hello</span>，欢迎来到<span class="font-en">iwebsite</span>后台管理系统</h2>
		<p>
			这是一个开源的免费项目，你可以自由二次开发，如果你想参与我的项目开发或者获取最新版本的项目源码，请访问<a href="https://github.com/liuhongyi/iwebsite" class="text-primary">iwebsite项目源码</a>
		</p>
	</div>
</section>
<section class="container-fulid">
	<div class="col-sm-4">
		<div class="well-white">
			<h5><i class="fa fa-cogs"></i>系统信息</h5>
			<p>
				系统版本：<span class="font-en">{$Think.config.iwebsite_version}</span> <br />
				开发者：{$Think.config.iwebsite_devoloper} <br />
				BUG反馈：531271788@qq.com<br />
				授权信息：{$Think.config.iwebsite_empower} <br />
				版权所有：<a href="http://www.iwebsite.cc" target="_blank" class="font-en font-14 text-primary">{$Think.config.iwebsite_copy}</a>
			</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well-white">
			<h5><i class="fa fa-shield"></i>登录信息</h5>
			<p>
				当前登录地址
			</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well-white">2</div>
	</div>
</section>
<include file='Common:foot' />