body{font-family: '微软雅黑';font-size: 12px;background:#eeeeee;}
a{
	transition:all .5s ease-out;
	-o-transition:all .5s ease-out;
	-moz-transition:all .5s ease-out;
	-webkit-transition:all .5s ease-out;
}
a{color: #666;}
a:hover{color: #000}
i{margin:0 5px;}
.login{height: 100%;width: 100%;}
  .login .login-container {
    padding: 30px;
    margin-bottom: 15px;
    width: 420px;
    height: 380px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: 150px;
    opacity: 0;
    -webkit-transition: all 1s 0.5s;
    -moz-transition: all 1s 0.5s;
    transition: all 1s 0.5s; }
    .login .login-container.active {
      opacity: 1; }
    .login .login-container img {
      margin: 10px auto 30px; }
    .login .login-container .input-group {
      position: relative;
      margin-bottom: 0; 
      margin:10px 0;}
    .login .login-container input.form-control {
      height: 48px;
      font-size: 15px;
      box-shadow: none;
      background: transparent; }
.login-container a{
	font-size: 20px;
}
.login-container a:hover{
	text-decoration: none;
	color: #41B7F1;
}
.login-container form{
	margin-top: 20px;
}
.login-wrapper img{margin:10px auto;cursor: pointer;}
.yzm{margin-top:10px;}
.copy{font-size: 12px;color: #797979;margin-top: 10px;}
.copy a{font-size: 12px;color: #797979}

.btn-primary {
  background: #007aff;
  border-color: #007aff; }
  .btn-primary:hover, .btn-primary.active {
    background: transparent;
    color: #007aff;
    border-color: #007aff; }
    .btn-primary:hover .caret, .btn-primary.active .caret {
      border-top-color: #007aff; }



