@charset "UTF-8";
body {
	font-family: '微软雅黑','Lato';
	color: #666666;
	background: #e8e8e8;
	min-height: 100%; 
	padding-top: 80px;
	font-size: 12px;
}

.white{background: #fff;overflow: hidden;}
.red{color: #ff0000}
.font-en{font-family: "Lato", sans-serif !important;}
.font-14{font-size: 14px;}

a{-webkit-transition: all .4s ease-out;
-moz-transition: all .4s ease-out;
-ms-transition: all .4s ease-out;
-o-transition: all .4s ease-out;
transition: all .4s ease-out;}

a{color: #777777}
a:hover{color: #007AFF}

/*nav*/
.navbar {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	border: 0;
}
.navbar-nav i {
	margin-right: 10px;
}
.navbar-nav li:hover{background: #E7E7E7}

.well-white{background: #fff;padding:20px;line-height: 24px;overflow: hidden;}
.well-white i{margin-right: 10px;}

.top{margin:20px 15px;background: #fff;padding:20px 30px;}

.main {overflow: hidden;padding:15px;}
.main h5{margin-top: 20px;margin-bottom: 20px;}
.main a i{margin-right: 5px;}
.main table tr td{line-height: 25px;}
.main table input{height: 25px;line-height: 25px;width: 70px;}


/*button*/
.btn-default-outline, .btn-primary-outline, .btn-success-outline, .btn-info-outline, .btn-warning-outline, .btn-danger-outline {
  background: transparent; }

.btn-default-outline {
  color: #999999;
  border: 1px solid #bbbbbb; }
  .btn-default-outline .caret {
    border-top-color: #bbbbbb; }
  .btn-default-outline:hover, .btn-default-outline.active {
    background: #bbbbbb;
    color: white; }
    .btn-default-outline:hover .caret, .btn-default-outline.active .caret {
      border-top-color: white; }

.btn-primary-outline {
  color: #007aff;
  border: 1px solid #007aff; }
  .btn-primary-outline .caret {
    border-top-color: #007aff; }
  .btn-primary-outline:hover, .btn-primary-outline.active {
    background: #007aff;
    color: white; }
    .btn-primary-outline:hover .caret, .btn-primary-outline.active .caret {
      border-top-color: white; }